/* Sidebar */

.sidebar-form {
  padding: 7px 15px 13px 15px;
}
@media (min-width: 768px) {
  .sidebar-nav {
    text-align: left;
    left: 0;
    list-style: none;
    height: 100%;
    margin: 0;
    overflow-y: auto;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 1;
  }
  /*.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }*/
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sidebar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin: 0;
    padding: 5px 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .sidebar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px;
  }
  .sidebar-nav .navbar-brand {
    width: 100%;
  }
  .sidebar-nav .open > a > b.caret {
    border-top: none;
    border-bottom: 4px solid;
  }
}

.sidebar-nav ul li.header {
    color: rgb(0, 0, 0);
}
.sidebar-nav li.header {
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 0;
    font-weight: 700;
}
.sidebar-nav li {
    position: relative;
    margin: 2px 0;
}

/*
 * Sidebar style
 */
#sidebar-black, #column-black {
    border-right: 2px groove rgb(255, 255, 255); /* Lets groove baby :) */
    background-color: #DADADA;
}

#navbar-black.navbar-default .navbar-nav>li>a:hover,
#navbar-black.navbar-default .navbar-nav>li>a:focus,
#navbar-black.navbar-default .navbar-nav>li>ul>li>a:hover,
#navbar-black.navbar-default .navbar-nav>li>ul>li>a:focus,
#navbar-black.navbar-default .navbar-nav>.active>a,
#navbar-black.navbar-default .navbar-nav>.active>a:hover,
#navbar-black.navbar-default .navbar-nav>.active>a:focus {
    text-decoration: none;
    background-color: rgb(238, 238, 238) !important;
}
#navbar-black.navbar-default .navbar-toggle {
    border-color: #222;
}
#navbar-black.navbar-default .navbar-toggle:hover,
#navbar-black.navbar-default .navbar-toggle:focus {
    background: rgb(238, 238, 238);
}
#navbar-black.navbar-default .navbar-nav>li>a,
#navbar-black.navbar-default .navbar-nav>li>ul>li>a,
#navbar-black.navbar-default .navbar-brand {
    padding: 0 10px 0 0;
    border-radius: 3px;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0);
    line-height: 25px;
    height: 26px;
}
#navbar-black.navbar-default .navbar-toggle .icon-bar,
#navbar-black.navbar-default .navbar-toggle:hover .icon-bar,
#navbar-black.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

#sidebar-footer {
    font-size: 12px;
    background-color: rgb(68, 68, 68);
    position: absolute;
    bottom: 5px;
    padding: 5px;
}
.hidden-xs {
    display: block!important;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

a.list-group-item .list-group-item-heading {
    color: rgb(51, 51, 51);
}

#sidebar-search-textbox .input {
    border-radius: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgb(34, 34, 34);
    border: 1px solid rgb(21, 21, 21);
    color: rgb(255, 0, 0);
    font-family: DINComp,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 24px;
    padding: 2px 5px 0 5px;
    position: relative;
    width: 100%;
}

#navbar-black.navbar-default {
    font-size: 14px;
    border: 0px;
    border-radius: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 1px solid rgb(167, 167, 167) !important;
    box-shadow: rgb(170, 170, 170) 0px 1px 1px 1px;
    border-radius: 4px;
    margin-top: 80px;
}
